*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* ------STAGE-1-------  */

.content {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 21px;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content__list {
    display: flex;
    flex-direction: column;
    position: relative;
    block-size: 220px;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease; /* Плавное изменение opacity */
}

.content__list-item {
    display: flex;
    align-items: flex-start;
    margin-block-end: 30px;
    inline-size: 389px;
}

.content__list-item:last-child {
    margin-block-end: 0;
}

.content__list-item:has(.content__card-link_current) {
    background-color: #545050;
}

.content__details {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    inline-size: 100%;
    gap: 25px;
}

/* - Стилизуем скрол.
Вопрос 1. Это легальный метод? Я просто поставил
себе задачу, сделать приятный скрол, чтобы он вписывался в общий дизайн.

Вопрос 2. Я поигрался с настройками и смог его вообще убрать. Так можно делать?

Вопрос 3. Я не смог догадаться, как сделать плавное исчезновение и появление курсора :(. Не подскажете, как сделать? С:
*/

.content__list::-webkit-scrollbar {
    width: 5px;
}

.content__list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.content__list:hover {
    overflow-y: auto; /* Показываем полосу прокрутки при наведении курсора */
    opacity: 1;
}

/* ------STAGE-2-------  */

.result__video-container {
    margin-block-end: 15px;
    position: relative;
}

/*--<div class="result__video-container">--*/

.result__video {
    object-position: center;
    block-size: 379px;
    inline-size: 709px;
    object-fit: cover;

}

/*  <template class="cards-list-item-template">
      <li class="content__list-item">  */

.content__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block-end: 20px;
}

.content__list-item:last-child {
    margin-bottom: 0; /* Убирает отступ у последнего элемента */
}

.content__list-item:has(.content__card-link_current) {
    background-color: #231717;
}

.content__video-card {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.content__video-card-thumbnail {
    block-size: 100px;
    object-fit: cover;
    object-position: center;
    inline-size: 189px;

}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    inline-size: 200px;
    gap: 7px;
}

/* ------STAGE-3-------  */






