*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: flex;
    align-items: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fffefe;
    font-size: 18px;
    background-color: #1b1919;
    font-family: 'Fira Sans Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.content {
    display: flex;
    align-items: flex-end;
    inline-size: 1140px;
    gap: 28px;
}

.content__accent {
    color: #545050;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content__list {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    block-size: 299px;
    overflow: auto;
}

.content__list-item:last-child {
    margin-block-end: 0;
}

.content__card-link {
    display: block;
    text-decoration: none;
    margin: 2px;
    color: #ffffff;
    cursor: pointer;
}

.content__card-link_current {
    background-color: #545050;
}

.content__details {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    inline-size: 100%;
    gap: 25px;
}

/* - Стилизуем скрол.
Вопрос 1. Это легальный метод? Я просто поставил
себе задачу, сделать приятный скрол, чтобы он вписывался в общий дизайн.

Вопрос 2. Я поигрался с настройками и смог его вообще убрать. Так можно делать?

Вопрос 3. Я не смог догадаться, как сделать плавное исчезновение и появление курсора :(. Не подскажете, как сделать? С:
*/
.content__list::-webkit-scrollbar {
    width: 5px;
}

.content__list::-webkit-scrollbar-thumb {
    background-color: #868686;
    border-radius: 5px;
}

.result__video-container {
    margin-block-end: 13px;
    position: relative;
}

/*--<div class="result__video-container">--*/

.result__video {
    object-position: center;
    block-size: 379px;
    inline-size: 709px;
    object-fit: cover;
}

/*  <template class="cards-list-item-template">
      <li class="content__list-item">  */

.content__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block-end: 25px;
}

.content__list-item:last-child {
    margin-bottom: 0;
}

.content__video-card {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.content__video-card-thumbnail {
    block-size: 102px;
    object-fit: cover;
    object-position: center;
    inline-size: 193px;

}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    inline-size: 200px;
    gap: 7px;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: 75px;
    font-style: normal;
    color: #ffffff;
    font-weight: 700;
    line-height: 93%;
    text-transform: uppercase;
    padding-block-start: 3px;
}

.content__accent {
    color: #545050;
}

.content__video-card-title {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: #ffffff;
}

.content__video-card-description {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    line-height: 18px;
    text-transform: uppercase;
    /* Спасибо большое за совет! Реально стало красивее. Буквы не налезают на картинку */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 1140px;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.search-form__label:hover > .search-form__label-text:not(.visually-hidden),
.content__card-link:hover .content__video-card-description-container,
.button:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 0;
}

.search-form__label-text,
.search-form__fieldset-title {
    font-family: "Fira Sans Condensed", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

.search-form__submit-button {
    align-self: end;
    inline-size: 194px;
}

.search-form__fieldset:nth-child(2) {
    display: flex;
    gap: 5px;
}

.search-form__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.search-form__label:hover {
    cursor: pointer;
}

/*При вёрстке текстового поля обращайте внимание
на управление размерами, границей, цветом текста, семейством шрифта, размером шрифта, фоном.
Некоторые из этих свойств не наследуются.*/
.search-form__textfield {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 11px;
    appearance: none;
    cursor: pointer;
    inline-size: 225px;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    /* Вот стили из Figma -  border-top: 1px solid #FFF;
                             border-bottom: 1px solid #FFF;*/
    border-top: 1px solid #ffffff;
    border-right-style: none;
    block-size: 25px;
    font-size: 18px;
    color: #ffffff;
    padding: 0;
    font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__textfield::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

.search-form__checkbox-list {
    display: flex;
    gap: 16px;
}

.search-form__pseudo-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-inline-end: 5px;
    block-size: 19px;
    inline-size: 19px;
}

.content__card-link:focus,
.search-form__textfield:focus,
.button:focus {
    outline: none;
}

.button:focus-visible {
    outline-color: #ffffff;
    outline-offset: 2px;
    outline-width: 1px;
    outline-style: solid;
}

.content__card-link:focus-visible {
    outline-color: #ffffff;
    outline-style: solid;
    outline-width: 1px;
}

/*
Лейбл должен получать границу только когда у поля находится в состоянии
focus-visible, но не focus. Чтобы такое реализовать, можно применить
хитрую комбинацию псевдоклассов — :has(:focus-visible).
*/
.search-form__label:has(:focus-visible) {
    outline-color: #ffffff;
    outline-offset: 2px;
    outline-width: 1px;
    outline-style: solid;
}
/*
Задание: - На макете при нажатии чекбокса внутри появляется квадрат. Он чуть меньше чекбокса. Мы предлагаем вам реализовать его псевдоэлементом
для .search-form__pseudo-checkbox. У вас получится непростая комбинация селекторов «псевдоэлемент для первого соседа зажатого чекбокса».
Подумайте, как такое описать.

Решение: - Я погуглил, почитал, поспрашивал. Сделал несколько вариантов, но рабочим оказался именно этот.
*/
input[type='checkbox']:checked+.search-form__pseudo-checkbox::before {
    display: flex;
    block-size: 15px;
    content: "";
    background-color: #ffffff;
    inline-size: 15px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    font-family: "Fira Sans Condensed", sans-serif;
    gap: 9px;
    block-size: 33px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    cursor: pointer;
}

.more-button {
    margin: 1px;
    inline-size: 400px;
}

.content__card-link:active,
.button:active {
    background-color: #545050;
}